@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

h1 {
    font-family: 'Comfortaa', sans-serif;
}

.container {
    height: 100%;
    position: relative;
}

.square {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    border-radius: 5vh;
    line-height: 100%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.box > * {
    margin-bottom: 1em;
}

.buttonContainer > button {
    font-family: 'Comfortaa', sans-serif;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}